<section>
  <h1>Recent Comments</h1>
  <div id="dsq-recentcomments" class="dsq-widget"><script type="text/javascript" src="http://disqus.com/forums/{{ site.disqus_short_name }}/recent_comments_widget.js?num_rc-items=3&amp;hide_avatars=0&amp;avatar_size=38&amp;excerpt_length=70;"></script></div>
</section>

<section>
  <h1>Follow Me on...</h1>

  <a href="https://www.facebook.com/THpubs" class="social-link" target="_blank">
	  <div id="facebook" class="social-box">
	  	<div class="social-inbox">
	  		<img src="/images/social/facebook.png" alt="facebook" class="social-img" width="15" height="32">
	  	</div>
	  	<span class="social-text">facebook</span>
	  </div>
  </a>

  <a href="https://plus.google.com/115473009912008532210" class="social-link" target="_blank">
	  <div id="googleplus" class="social-box">
	  	<div class="social-inbox">
	  		<img src="/images/social/googleplus.png" alt="googleplus" class="social-img" width="32" height="28">
	  	</div>
	  	<span class="social-text">google</span>
	  </div>
  </a>

  <a href="https://twitter.com/THpubs" class="social-link" target="_blank">
	  <div id="twitter" class="social-box">
	  	<div class="social-inbox">
	  		<img src="/images/social/twitter.png" alt="twitter" class="social-img" width="33" height="26">
	  	</div>
	  	<span class="social-text">twitter</span>
	  </div>
  </a>

</section>