<section>
  <h1>Follow us on...</h1>

  <a href="http://www.facebook.com/TechHamlet" class="social-link" target="_blank">
	  <div id="facebook" class="social-box">
	  	<div class="social-inbox">
	  		<img src="/images/social/facebook.png" alt="facebook" class="social-img" width="15px" height="32px">
	  	</div>
	  	<span class="social-text">facebook</span>
	  </div>
  </a>

  <a href="http://plus.google.com/103124674194413904305" class="social-link" target="_blank">
	  <div id="googleplus" class="social-box">
	  	<div class="social-inbox">
	  		<img src="/images/social/googleplus.png" alt="googleplus" class="social-img" width="32px" height="28px">
	  	</div>
	  	<span class="social-text">google</span>
	  </div>
  </a>

  <a href="http://twitter.com/TechHamlet" class="social-link" target="_blank">
	  <div id="twitter" class="social-box">
	  	<div class="social-inbox">
	  		<img src="/images/social/twitter.png" alt="twitter" class="social-img" width="33px" height="26px">
	  	</div>
	  	<span class="social-text">twitter</span>
	  </div>
  </a>

</section>