<section>
  <h1>Subscribe to us...</h1>

  <a href="/subscribe/" class="social-link" target="_blank">
	  <div id="mail" class="social-box">
	  	<div class="social-inbox">
	  		<img src="/images/social/mail.png" alt="subscribe" class="social-img" width="35px" height="23px">
	  	</div>
	  	<span class="social-text">email</span>
	  </div>
  </a>

  <a href="http://feeds.feedburner.com/techhamlet" class="social-link" target="_blank">
	  <div id="rss" class="social-box">
	  	<div class="social-inbox">
	  		<img src="/images/social/rss.png" alt="subscribe" class="social-img" width="32px" height="32px">
	  	</div>
	  	<span class="social-text">feed</span>
	  </div>
  </a>

</section>