<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700' rel='stylesheet' type='text/css'>
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
<meta property="og:type" content="{% if page.title %}{% if page.title contains 'Category' or page.title contains 'Archive' %}website{% else %}article{% endif %}{% else %}website{% endif %}" />
<meta property="og:image" content="{% if page.fimage %}{{ site.url }}{{ page.fimage }}{% else %}{{ site.url }}/images/default-logo.jpg{% endif %}" />
<meta property="og:url" content="{{ canonical }}" />


{% if page.title %}

	<script type="text/javascript">
	//<![CDATA[
	  (function() {
	    var shr = document.createElement('script');
	    shr.setAttribute('data-cfasync', 'false');
	    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
	    shr.type = 'text/javascript'; shr.async = 'true';
	    shr.onload = shr.onreadystatechange = function() {
	      var rs = this.readyState;
	      if (rs && rs != 'complete' && rs != 'loaded') return;
	      var apikey = '7bb362e5571165295ff2b73413e27206'
	      try { Shareaholic.init(apikey); } catch (e) {}
	    };
	    var s = document.getElementsByTagName('script')[0];
	    s.parentNode.insertBefore(shr, s);
	  })();
	//]]>
	</script>

{% endif %}